@import "nullstyle.scss"; // файл с обнулением
@import "../components/UI/input/MyInput.module.scss"; // style input
@import "../components/UI/card/CityCard.module.scss"; // style card
@import "../components/UI/backgorund/Background.module.scss"; //background

// основные цвета
$color1: #658caf;
$color2: #296399;
$color3: #c9e5ff;
$color4: #91b3d2;

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(180deg, #138eff 0%, #00e0ff 100%);
    min-height: 95vh;
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}
.App {
    padding: 2em 17em 0;
}

.list-of-city {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
// Header.jsx

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
}

.app-name {
    background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 187.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
}

// CityPage.jsx

.app-forecast {
    color: $color3;
    font-size: 3em;
}

.container_city_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.container_detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.block_detail {
    width: 40%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    background-color: $color3;
    border-radius: 20px;
    padding: 1.25em;
    font-size: 1.25em;
    color: $color2;
    td {
        padding: 0.25em 3em 0;
    }
}

.container_forecast {
    display: flex;
    justify-content: space-between;
}

// MEDIA
@media (min-width: 1800px) {
}
@media (max-width: 1799px) and(min-width: 1600px) {
    body {
        font-size: 0.89em;
    }
}
@media (max-width: 1599px) and (min-width: 1400px) {
    body {
        font-size: 0.8em;
    }
    .city_card {
        width: 22em;
        height: 19em;
    }

    .city-card-content {
        padding: 2em;
    }
    .forecast {
        font-size: 0.8em;
    }
}

@media (max-width: 1399px) and (min-width: 1200px) {
    body {
        font-size: 0.75em;
    }
    h2 {
        font-size: 1.5em;
    }
    .city_card {
        width: 19.8em;
        height: 19em;
    }
    .icon-weather-image {
        width: 8.8em;
    }

    .city-card-content {
        padding: 2em;
    }

    .weather-desc {
        font-size: 1.2em;
    }

    .forecast {
        font-size: 0.8em;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    body {
        font-size: 0.7em;
    }

    .App {
        padding: 2em 13em 0;
    }
    h2 {
        font-size: 1.5em;
    }
    .city_card {
        width: 18.5em;
        height: 17.5em;
    }
    .icon-weather-image {
        width: 8.6em;
    }

    .city-card-content {
        padding: 2em;
    }

    .weather-desc {
        font-size: 1.1em;
    }

    .forecast {
        font-size: 0.8em;
    }
}

@media (max-width: 991px) and (min-width: 857px) {
    body {
        font-size: 0.6em;
    }

    // .App {
    //     padding: 2em 13em 0;
    // }
    h2 {
        font-size: 2.6em;
    }
    .city_card {
        width: 30em;
        height: 24em;
        margin-bottom: 4em;
    }

    .city-card-content {
        padding: 3em;
    }

    .weather-desc {
        font-size: 2em;
    }

    .weather-condition-text {
        font-size: 2em;
    }

    .icon-weather-image {
        width: 10.5em;
    }
    .bottom-image1 {
        width: 1.25em * 2;
    }
    .bottom-image2 {
        width: 1.96em * 2;
    }
    .bottom-image3 {
        width: 1.2em * 2;
    }

    // .forecast {
    //     font-size: 0.8em;
    // }
}

@media (max-width: 856px) and (min-width: 700px) {
    body {
        font-size: 0.55em;
    }

    .App {
        padding: 2em 9em;
    }
    h2 {
        font-size: 1.5em;
    }
    .city_card {
        width: 17.5em;
        height: 17em;
    }

    .city-card-content {
        padding: 1.5em;
    }

    .weather-desc {
        font-size: 1.1em;
    }
    .icon-weather-image {
        width: 7em;
    }
    .weather-condition-text {
        font-size: 1.1em;
    }

    .forecast {
        font-size: 0.8em;
    }
}

@media (max-width: 699px) and (min-width: 547px) {
    body {
        font-size: 0.55em;
    }

    .App {
        padding: 2em 9em;
    }

    h2 {
        font-size: 1.5em;
    }

    .city_card {
        width: 17.5em;
        height: 17em;
    }

    .city-card-content {
        padding: 1.5em;
    }

    .weather-desc {
        font-size: 1.1em;
    }
    .icon-weather-image {
        width: 7em;
    }
    .weather-condition-text {
        font-size: 1.1em;
    }

    .forecast {
        font-size: 0.8em;
    }
}

@media (max-width: 546px) {
}
