@import "nullstyle.scss"; // файл с обнулением
@import "../components/UI/input/MyInput.module.scss"; // style input
@import "../components/UI/card/CityCard.module.scss"; // style card
@import "colors.scss"; //colors

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(180deg, #138eff 0%, #00e0ff 100%);
    min-height: 95vh;
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
    font-size: 6.25em;
}
.App {
    padding: 2em 17em 0;
}

.list-of-city {
    display: flex;
    justify-content: space-between;
}
// Header.jsx

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

// CityPage.jsx

.container_city_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.container_detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.block_detail {
    width: 60%;
    background-color: $color3;
    border-radius: 20px;
    padding: 1.25em;
    font-size: 1.25em;
    color: $color2;
    td {
        padding: 0.25em 100px 0 0;
    }
}

.container_forecast {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}
