$black: #000000;
$cornflower-lilac: #ffffff;
$salmon: #658caf;
$white: #c9e5ff;
$your-pink: #91b3d2;

.c-formContainer,
.c-form,
.c-form__toggle {
    height: 4.25em;
}

.c-formContainer {
    position: relative;
    font-weight: 700;
}

.c-form,
.c-form__toggle {
    border-radius: 6.25em;
    background-color: $white;
}
.c-formContainer {
    width: 68%;
}

.c-form {
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba($black, 0.3);
    width: auto;

    // position form inputs
    display: flex;
    justify-content: center;
}

.c-form__toggle {
    color: $salmon;
    top: 0;
    z-index: 1;
    width: 100%;
    // position message
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-form__input,
.c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
    font-size: 1.75em;
}

.c-form__input {
    color: $your-pink;
    height: 100%;
    width: 100%;
    padding: 0 0.714em;
    &::placeholder {
        color: currentColor;
    }
}

.c-form__buttonLabel {
    color: $cornflower-lilac;
    height: 100%;
    width: auto;
    margin: 0 0 0 0.357em;
}

.c-form__button {
    color: inherit;
    height: 100%;
    width: 5em;
    background-color: $salmon;
    svg {
        font-size: 1.3em;
    }
}
