@import "../../../styles/colors.scss"; //colors

.city_card {
    width: 23em;
    height: 20em;
    background: $color3;
    color: $color2;
    box-shadow: 0 2em 6em rgba(9, 0, 63, 0.38);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.forecast {
    width: 18em;
    height: 16em;
    & .city-card-content {
        padding: 3em;
        font-size: 0.7em;
    }
}
.icon {
    width: 8em;
    height: auto;
}
.city-card-content {
    height: 100%;
    display: relative;
    padding: 3em;
}
.city-card-header {
    display: flex;
    justify-content: space-between;
}

.city-card-weather {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .temp {
        font-style: normal;
        font-weight: 700;
        font-size: 4.25em;
        line-height: 1.5em;
        background: linear-gradient(180deg, $color2 54.68%, rgba(255, 255, 255, 0) 187.46%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .celsium {
        color: $color4;
        font-size: 4.25em;
    }
}

.weather-desc {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: $color1;
}

.city-card-bottom {
    bottom: 0;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

.weather-condition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.weather-condition-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $color1;
}

.bottom-image1 {
    width: 1.25em;
}
.bottom-image2 {
    width: 1.96em;
}
.bottom-image3 {
    width: 1.2em;
}
